@font-face { 
    font-family: "Segoe WPN";
    src: url("../fonts/latest.ttf");
}

* {
	box-sizing: border-box;
}


.wrapper {
    font-family: "Segoe WPN";
    width: 100%;
}

.header .container:after {
  content: "";
  display: table;
  clear: both;
}


.header .container .logo {  
    margin-left: 12%;
    display: inline-block;
    margin-top: 24px;
}

.header .container .logo img{

	height: auto;
}


.nav {
    margin-right: 15%;
    margin-top: 53px;
    min-width: 25%;
    float: right;
    
}

.nav ul:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: justify;
}

.nav ul li {
    display: inline;
}

main .container {
    
}

main .container .crowl {
    background-image: url(../images/podl.png);
    -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
    height: 100%;
    background-repeat: no-repeat;
}

main .container .layer_bottom {
    background-image: url(../images/layer_bottom.png);
     -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover;/* Современные браузеры */
    height: 9px;
    margin-top: -9px;
}

main .container .shape {
    margin-top: 57px;
    margin-left: 12%;
    margin-right: 12%;
}


main .container .shape:after {
  content: "";
  display: table;
  clear: both;
}

main .container .shape .cols .col {
    float: left;
    width: 33.3%;
    text-align: center;
}

main .container .shape .cols .col .shape1,.shape2,.shape3 {
    margin: 0 auto;
    min-height: 186px;
    max-width: 186px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 28px;
}

main .container .shape .cols .col .title {
    color: #5094f2;
    font-size: 20px;
    margin-bottom: 9px;
}
main .container .shape .cols .col .about {
    color: #909090;
    font-size: 14px;
}

main .container .shape .cols .col .shape1 {
    background-color: #5094f2;
}


main .container .shape .cols .col .shape2 {
    background-color: #d94748;   
}


main .container .shape .cols .col .shape3 {
    background-color: #ebbb11;
}

main .container .shape .cols .col  img{
    width: 50%;
    min-width: 25%;
	height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

main .cart:after {
    content: "";
    display: table;
    clear: both;
}

main .cart {
    padding-bottom: 50px;
    margin-left: 12%;
    margin-right: 12%;
}

main .cart .cols .col {
    float: left;
    width: 50%;
    text-align: center;
}

main .cart .cols {
    margin-top: 91px;
}

main .cart .cols .col1 .title {
    color: #6f7173;
    font-size: 42px;
    margin-bottom: 33px;
}

main .cart .cols .col1 img {

    max-width: 100%;
}

main .cart .cols .col2 {
     margin-top: 50px;
}

main .cart .cols .col2 .title {
    font-size: 26px;
    color: #6f7173;
    text-align: left;
} 
main .cart .cols .col2 .about {
    color: #6f7173;
    font-size: 14px;
    text-align: left;
    margin-top: 25px;
    line-height: 36px;
    max-width: 75%;
}

footer .cop {
    border-top: 2px solid #ededed;
    padding-top: 33px;
    padding-bottom: 44px;
    color: #909090;
    font-size: 15px;
    text-align: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
        padding-top: 3%;
        padding-bottom: 1%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
}

.swiper-button-next {
    padding-right: 20%;
    
}
.swiper-button-prev {
    padding-left: 20%;
}

.swiper-slide {
    font-family: "Segoe WPN";
    color: white;
}

.swiper-slide .h1{
    font-size: 42px;
}

.swiper-slide .text {
    line-height: 40px;
    margin-left: 5%;
    font-size: 26px;
    text-align: left;
}

.swiper-slide .signup:after {
    content: "";
    background-image: url(../images/ic.png);
    width: 25px;
    height: 25px;
    top: 10px;
    left: 8px;
    position: absolute;
    display: inline-block;
}

.swiper-slide .signup {
    left: -20%;
    position: relative;
    background-color: #5094f2;
    width: 182px;
    padding-right: 10px;
    text-align: right;
    height: 41px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 3px;
}

.swiper-slide img {
    min-width: 25%;
    min-height: 25%;
}

@media screen and (max-device-width: 640px){ /* Стиль для отображения в браузере */
    
    
    
    main .container  {
    margin-top: 10px;

    }
    
    .nav {
        display: none;
    }
    
    main .container .layer_bottom {
        display: none;
    }
    main .container .crowl img {
        padding-left: 5%;
        width: 40%;
    }
    
    .swiper-button-next {
        display: none;
    }
    .swiper-button-prev {
        display: none;
    }
    
    .swiper-slide .h1{
    font-size: 20px;
}

    .swiper-slide .text {
    margin-left: 5%;
    font-size: 12px;
    line-height: 25px;
    }
    
    .swiper-slide .signup:after {
    width: 25px;
    height: 25px;
    top: 2px;
    left: 1px;
}

    .swiper-slide .signup {
    left: -20%;
    position: relative;
    background-color: #5094f2;
    width: 100px;
    padding-right: 8px;
    padding-top: 1px;
    text-align: right;
    height: 30px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 3px;
}
    
    main .container .shape .cols .col .shape1,.shape2,.shape3 {
    min-height: 93px;
    max-width: 93px;
    padding-right: 10%;
    }
    
    main .container .shape {
    margin-left: 0px;
    margin-right: 0;
    margin-top: 10px;    
    }
    
    main .container .shape .cols .col {
    width: 100%;
    float: none;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #cccccc;
    }
    
    main .container .shape .cols .col .shape1,.shape2,.shape3 {
    margin: 0;
    margin-left: 2%;
    }
    
    main .container .shape .cols .col .title {
    position: absolute;
    top: 14px;
    left: 35%;
    }
    
    main .container .shape .cols .col .about {
    position: absolute;
    top: 50px;
    left: 35%;
    text-align: left;
    }
    
    main .cart {
        padding-bottom: 20px;
    }
    
    main .cart .cols {
    margin-top: 10px;
    }
    
    main .cart .cols .col {
        width: 100%;
    }
    main .cart .cols .col1 img{
        width: 60%;
    }
    
    main .cart .cols .col1 .title {  
    margin-top: 0px;
    font-size: 30px;
        
    }
    
    main .cart .cols .col2 {
    margin-top: 10px;
    }
    
    main .cart .cols .col2 .title {
    margin-top: 0;
    font-size: 25px;
    }
    main .cart .cols .col2 .about {
    font-size: 15px;
    line-height: 20px;
    
    }
    main .cart .cols .col2 .about {

    max-width: 100%;
    }
    footer .cop {
   
    padding-top: 20px;
    padding-bottom: 20px;
 
}

}

.topnav {
    display: none;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    background-color: #5094f2;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #5094f2;
    background-color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 640px) {

    .topnav {
        display: block;
    }
    
  .topnav a {display: none;}
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 35px;
    font-size: 14px;
    padding: 5px 10px;
  }
}



/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 640px) {
    
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

